.background {
background-color: rgb(85, 85, 107);
}
.jumbotron {
    background-color: rgb(190, 190, 204);
    font-family: 'Londrina Sketch', cursive;
}
.container {
    margin-right: 15%;
}    


label {
    color: white;
}
button {
    margin: 8px;
    background-color: white;
    color: black;
}

@-ms-viewport{
    width: device-width;
  }
  @media (min-width: 576px) { 
           /* .col-sm-2 {
            margin-right: 20px;
            position: fixed;
           }
        
           .gifArea {
            margin-top: 30%;
           } */
        
         }

@media (min-width: 1200px) {  }

@media (min-width: 992px) {  }

@media (min-width: 768px) {  }
  